/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * FOOTER
*/

footer {
  border-top: 1px solid #e5e5e5;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}




/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
