<div class="container">

    <h3 class="indexTitle">FreeCodeCamp API Basejump: URL Shortener Microservice</h3>

    <p>User stories:</p>
    <ul>
        <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li> 
        <li>When I visit that shortened URL, it will redirect me to my original link.</li>
    </ul>
    <p>Example creation usage: <a href="#">www.xxxxxxx.com/https://www.gooogle.com</a> will output: &#123 "original_url":"https://www.google.com", "short_url":"https://little-url.herokuapp.com/1"
&#125</p>
<p> Then short URL usage: <a href="#">https://little-url.herokuapp.com/2871</a> will redirect to: <a href="#">https://www.google.com</a></p>

</div>