<div class="container">

    <h3 class="indexTitle">FreeCodeCamp API Basejump: URL Shortener Microservice</h3>

    <p>User stories:</p>
    <ul>
        <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li> 
        <li>When I visit that shortened URL, it will redirect me to my original link.</li>
    </ul>
    <p>Example creation usage: <a href="http://prod.xwhkbsi3ck.us-west-2.elasticbeanstalk.com/www.gooogle.com">http://prod.xwhkbsi3ck.us-west-2.elasticbeanstalk.com/www.gooogle.com</a> will output: &#123 "CompleteURL":"www.google.com", "ShortURL":"http://prod.xwhkbsi3ck.us-west-2.elasticbeanstalk.com/0"
&#125</p>
<p> Then short URL usage: <a href="http://prod.xwhkbsi3ck.us-west-2.elasticbeanstalk.com/1">http://prod.xwhkbsi3ck.us-west-2.elasticbeanstalk.com/0</a> will redirect to: <a href="www.google.com">www.google.com</a></p>

</div>